<footer>
    <div class="">
        <a href="">
            <div class="" style="">
                <img class="" style="" src="" alt="">
            </div>
        </a>
        <a href="">
            <div class="" style="">
                <img class="" style="" src="" alt="">
            </div>
        </a>
        <a href="">
            <div class="" style="">
                <img class="" style="" src="" alt="">
            </div>
        </a>
    </div>
    <p><a href=""></a></p>
    <p></p>
    <p></p>
    <div id="btn_top">
        <a><img src="/static/images/scrollup.png" alt="返回顶部" /></a>
    </div>
</footer>

<script src="/static/js/footer.js" type="text/javascript" charset="utf-8"></script>